* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-VariableFont_slnt_wght.ttf");
}

@font-face {
  font-family: WorkSans;
  src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}

html {
  font-size: 62.5%;
}

// ---------- mixins ----------

@mixin text-style($fs, $ff, $fw, $lh, $ls) {
  font-size: $fs;
  font-family: $ff;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin element-size($w, $h) {
  width: $w;
  height: $h;
}

// ---------- variables ----------

$bgc: #000;
$tc: #fff;

// ---------- global classes ----------

.button_style {
  @include element-size(11.5rem, 5rem);
  @include text-style(2rem, WorkSans, 400, 110%, -0.4px);
  color: $tc;
  background-color: $bgc;
  border: 0.1rem solid #aaa;
  cursor: pointer;

  &:hover {
    color: $bgc;
    background-color: $tc;
    transition: 0.5s;
  }
}

// * -------------------- header --------------------

header {
  background-color: $bgc;
  color: $tc;
  padding-bottom: 4rem;

  .vertical-line {
    @include element-size(50vw, 15rem);
    border-right: 0.1rem solid rgba(255, 255, 255, 0.3);
  }

  .header-title {
    @include element-size(30%, 25rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 26rem auto;

    p {
      &:nth-child(1) {
        @include text-style(1.2rem, Worksans, 400, normal, -0.5px);
        padding: 1.7rem 0;
      }

      &:nth-child(2) {
        @include text-style(6.4rem, Inter, 700, 80%, normal);
      }

      &:nth-child(3) {
        @include text-style(6.4rem, Inter, 700, 80%, normal);
        color: #000;
        text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
          -1px 1px 0 #fff;
      }

      &:nth-child(4) {
        @include text-style(1.2rem, Worksans, 400, normal, -0.5px);
        padding: 1.2rem 0;
      }
    }
  }

  aside {
    @include element-size(90%, 5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    button {
      @extend .button_style;
    }

    img {
      @include element-size(4.3rem, 2.4rem);
    }
  }
}

main {
  // * -------------------- story section --------------------
  .story {
    background-color: $bgc;
    color: $tc;
    padding: 4rem 0 10rem 0;

    h1 {
      @include text-style(9.5rem, Inter, 700, 110%, -2.5px);
      @include element-size(80%, 65rem);
      margin: 12rem 10% 0 5%;
    }

    .story-stats-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 5%;

      div {
        .stats {
          @include text-style(1.4rem, WorkSans, 400, normal, normal);
        }

        .numbers {
          @include text-style(9.3rem, Inter, 700, 115%, -2.5px);
        }
      }

      img {
        @include element-size(auto, 54rem);
      }
    }
  }

  // * -------------------- story section --------------------
  .action {
    height: 140vw;
    position: relative;
    .action-text {
      @include element-size(35%, 100rem);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 auto;
      div {
        h2 {
          @include text-style(8.4rem, Inter, 700, 98%, -1.3px);
        }
      }
      p {
        @include text-style(1.6rem, WorkSans, 400, 180%, -0.4px);
        width: 90%;
      }
    }

    .action-images {
      img {
        position: absolute;

        &:nth-child(1) {
          @include element-size(32.9rem, 21.9rem);
        }

        &:nth-child(2) {
          @include element-size(27.4rem, 18.3rem);
        }

        &:nth-child(3) {
          @include element-size(27.4rem, 18.3rem);
        }

        &:nth-child(4) {
          @include element-size(32.9rem, 21.9rem);
        }

        &:nth-child(5) {
          @include element-size(32.9rem, 21.9rem);
        }

        &:nth-child(6) {
          @include element-size(27.4rem, 18.3rem);
        }

        &:nth-child(7) {
          @include element-size(43.9rem, 29.3rem);
        }
      }
    }
  }
}
