* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-VariableFont_slnt_wght.ttf");
}
@font-face {
  font-family: WorkSans;
  src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}
html {
  font-size: 62.5%;
}

.button_style, header aside button {
  width: 11.5rem;
  height: 5rem;
  font-size: 2rem;
  font-family: WorkSans;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.4px;
  color: #fff;
  background-color: #000;
  border: 0.1rem solid #aaa;
  cursor: pointer;
}
.button_style:hover, header aside button:hover {
  color: #000;
  background-color: #fff;
  transition: 0.5s;
}

header {
  background-color: #000;
  color: #fff;
  padding-bottom: 4rem;
}
header .vertical-line {
  width: 50vw;
  height: 15rem;
  border-right: 0.1rem solid rgba(255, 255, 255, 0.3);
}
header .header-title {
  width: 30%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 26rem auto;
}
header .header-title p:nth-child(1) {
  font-size: 1.2rem;
  font-family: Worksans;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
  padding: 1.7rem 0;
}
header .header-title p:nth-child(2) {
  font-size: 6.4rem;
  font-family: Inter;
  font-weight: 700;
  line-height: 80%;
  letter-spacing: normal;
}
header .header-title p:nth-child(3) {
  font-size: 6.4rem;
  font-family: Inter;
  font-weight: 700;
  line-height: 80%;
  letter-spacing: normal;
  color: #000;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
header .header-title p:nth-child(4) {
  font-size: 1.2rem;
  font-family: Worksans;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
  padding: 1.2rem 0;
}
header aside {
  width: 90%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
header aside img {
  width: 4.3rem;
  height: 2.4rem;
}

main .story {
  background-color: #000;
  color: #fff;
  padding: 4rem 0 10rem 0;
}
main .story h1 {
  font-size: 9.5rem;
  font-family: Inter;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -2.5px;
  width: 80%;
  height: 65rem;
  margin: 12rem 10% 0 5%;
}
main .story .story-stats-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
}
main .story .story-stats-wrapper div .stats {
  font-size: 1.4rem;
  font-family: WorkSans;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
}
main .story .story-stats-wrapper div .numbers {
  font-size: 9.3rem;
  font-family: Inter;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -2.5px;
}
main .story .story-stats-wrapper img {
  width: auto;
  height: 54rem;
}
main .action {
  height: 140vw;
  position: relative;
  padding-top: 25vw;
}
main .action .action-text {
  width: 35%;
  height: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  gap: 53vw;
}
main .action .action-text div h2 {
  font-size: 8.4rem;
  font-family: Inter;
  font-weight: 700;
  line-height: 98%;
  letter-spacing: -1.3px;
}
main .action .action-text p {
  font-size: 1.6rem;
  font-family: WorkSans;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.4px;
  width: 90%;
}
main .action .action-images img {
  position: absolute;
}
main .action .action-images img:nth-child(1) {
  width: 32.9rem;
  height: 21.9rem;
  top: -4%;
  right: 10vw;
}
main .action .action-images img:nth-child(2) {
  width: 27.4rem;
  height: 18.3rem;
  top: 15%;
  left: 5vw;
}
main .action .action-images img:nth-child(3) {
  width: 27.4rem;
  height: 18.3rem;
  top: 32%;
  right: 0;
}
main .action .action-images img:nth-child(4) {
  width: 32.9rem;
  height: 21.9rem;
  top: 43%;
  left: 15vw;
}
main .action .action-images img:nth-child(5) {
  width: 32.9rem;
  height: 21.9rem;
  top: 54%;
  right: 15vw;
}
main .action .action-images img:nth-child(6) {
  width: 27.4rem;
  height: 18.3rem;
  top: 70%;
  left: 0;
}
main .action .action-images img:nth-child(7) {
  width: 43.9rem;
  height: 29.3rem;
  bottom: -4%;
  right: 15vw;
  z-index: -1;
}
main .goldenbear {
  height: 100vw;
  background-color: #000;
  color: #fff;
  position: relative;
  padding-top: 13vw;
}
main .goldenbear .goldenbear-text {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}
main .goldenbear .goldenbear-text .goldenbear-text-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .goldenbear .goldenbear-text .number {
  font-size: 2rem;
  font-family: WorkSans;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.4px;
  padding: 1.5rem 0;
}
main .goldenbear .goldenbear-text h2 {
  font-size: 8.5rem;
  font-family: Inter;
  font-weight: 700;
  line-height: 98%;
  letter-spacing: normal;
  width: 30vw;
}
main .goldenbear .goldenbear-text .quote {
  font-size: 2.9rem;
  font-family: Inter;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.4px;
  width: 40vw;
}
main .goldenbear .goldenbear-text .artist {
  font-size: 1.8rem;
  font-family: WorkSans;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.4px;
  padding: 2.5rem 0;
}
main .goldenbear .goldenbear-images img {
  position: absolute;
}
main .goldenbear .goldenbear-images img:first-child {
  width: 55vw;
  height: auto;
  bottom: -10%;
  left: 10vw;
}
main .goldenbear .goldenbear-images img:nth-child(2) {
  width: 29vw;
  height: auto;
  bottom: -4%;
  left: 59vw;
  z-index: 2;
}
main .goldenbear-below {
  height: 25vw;
  position: relative;
  overflow: hidden;
}
main .goldenbear-below img {
  width: 30vw;
  height: auto;
  position: absolute;
  top: -10vw;
  right: -10vw;
  z-index: -1;
}
main .poppybear {
  background-color: #eee;
}
main .poppybear img {
  width: 50%;
}

/*# sourceMappingURL=style.css.map */
